<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cristo.closeupapp">


    <uses-feature android:name="android.hardware.camera" android:required="true"></uses-feature>
    //permiso para gps
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    //permiso para gps
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    // permiso para notificar
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    //permiso para leer memoria
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    //permiso para escribir memoria
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Close Up"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CloseUpApp">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>